<section>
    <div>{{ section.settings.cog_culture }}</div>
</section>

{% schema %}
{
    "name": "COG Culture",
    "settings": [
        {
            "type": "text",
            "id": "cog_culture",
            "label": "COG Culture Desc"
        }
    ]
}
{% endschema %}