<section class="cog_home_hero center" style="background-image:url('{{ section.settings.cog_home_img | img_url: 'master' }}');">
    <div class="frow centered">
        <div class="cog_home_img"><img src="{{ section.settings.cog_home_logo | img_url: 'master' }}" /></div>
    </div>
</section>

{% schema %}
{
    "name": "COG Hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "cog_home_img",
            "label": "COG Shop Hero"
        },
        {
            "type": "image_picker",
            "id": "cog_home_logo",
            "label": "COG Home Logo"
        }
    ]
}
{% endschema %}