<section class="cog_page_section_title">
    <div class="cog_page_title cs">{{section.settings.cog_title}}</div>
</section>

{% schema %}
{
    "name": "COG Page Title",
    "settings": [
        {
            "type": "text",
            "id": "cog_title",
            "label": "CS Page Title"
        }
    ]
}
{% endschema %}