<section class="cog_home_hero events" style="background-image:url('{{ section.settings.cog_home_img | img_url: 'master' }}');">
    <div class="frow centered">
        <div class="cog_page_title">{{section.settings.cog_page_title}}</div>
    </div>
</section>

{% schema %}
{
    "name": "COG Hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "cog_home_img",
            "label": "COG Home Hero"
        },
        {
            "type": "text",
            "id": "cog_page_title",
            "label": "COG Page Title"

        }
    ]
}
{% endschema %}