:root {
    --color-blue: #0C0863;
    --header-font: 'DM Serif Display', Helvetica, sans-serif;
    --body-font: 'DM Serif Text', Helvetica, sans-serif;
}

/*  Press Page */
.cog_page_wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.cog_page_section_title {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-blue);
}
.cog_page_title {
    font-family: 'DM Serif Display', Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:48px;
    line-height: 1;
    padding-bottom:25px;
    letter-spacing: 3px;
}
.cog_page_description {
    font-family: 'DM Serif Text', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 50px;
}
.cog_press_hero {
    text-align: center;
}

/*  Press Partners */
.cog_press_partners {
    padding: 75px 0 125px;
}
.cog_partner_logo {
    width: 27%;
    padding: 0 20px;
}
.partner-logo-width {
    width: 300px;
}

/* Press Mentions */