/*  Press Page */
.cog_page_wrapper {
    max-width: 1000px;
    margin: 75px auto 0;
}
.cog_page_section_title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-blue);
}
.cog_page_title {
    font-family: var(--header-font);
    text-transform:uppercase;
    font-size:24px;
    line-height: 1;
    padding-bottom:25px;
    letter-spacing: 1px;
}
.cog_page_description {
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 50px;
}
.cog_press_hero {
    text-align: center;
}
.cog_press_hero img {
    width: 100%;
}

/*  Press Partners */
.cog_press_partners {
    padding: 75px 0 125px;
}
.cog_partner_logo {
    /* width: 50%; */
    width:75%;
    max-width:250px;
    /* padding: 0 10px; */
    padding: 0 10px 20px;
    margin:auto;
}
.partner-logo-width {
    width: 100%;
}

/* Press Mentions */
.pm_pub {
    font-weight: bold;
    margin:auto;
    font-size: 15px;
    padding-bottom: 15px;
    
}
.pm_item {
    font-size: 18px;
    /* padding-bottom: 15px; */
    padding-bottom: 25px;
    border-bottom: 1px solid var(--color-blue);
    margin-bottom: 15px;
    color: var(--color-blue);
    text-align: center; 
}

.pm_item a,
.pm_item a:visited {
    color: var(--color-blue);
}
.pm_title {
    width:100%;
}

@media screen and (min-width: 767px) {
    /* Press Title */
    .cog_page_section_title {
        /* width: 75%; */
    }
    .cog_page_description {
        width:63%;
        margin:auto;
    }
    .cog_press_hero {
        width: 75%;
        margin: auto;
    }
    .cog_press_partners {
        width: 75%;
        margin: auto;
    }
    .contact_email {
        font-size: 20px;
    }

    /* Press Mentions */
    .pm_pub {
        font-weight: bold;
        margin-right: 30px;
        max-width: 225px;
        width:25%;
    }
    .pm_title {
        width: 70%;
    }
    .pm_item {
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {
    .cog_press_hero {
        width: 75%;
    }
    .cog_press_partners {
        width: 100%;
    }
}