/* Contact Page */
.contact_hero {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 25px;
}

.contact_hero img {
    width:100%;
}
.contact_address {
    color: var(--color-blue);
    font-size: 20px;
    text-align: center;
}
.social_item {
    font-size: 18px;
    text-transform: uppercase;
}
.contact_wrapper {
    width:80%;
    margin:125px auto 0;
    border-top: 1px solid;
    padding-top: 75px;
    color: var(--color-blue);
    text-align: center;
}
.contact_content_title {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 30px;
}
.contact_content {
    padding-bottom:100px;
}
.contact_email {
    padding-bottom:50px;
    font-family: var(--body-font);
    font-size: 16px;
}
.contact_email_desc {
    font-weight: normal;
    padding-bottom: 15px;
}
.contact_email_item {
    font-family: var(--body-font);
    letter-spacing: 1px;
}
.contact_email_item a {
    color: var(--color-blue);
    /* font-weight: normal; */
    text-transform: uppercase;
}

/* Content */
.cog_contact_wrapper {
    width: 90%;
    margin: 0 auto 75px;
}
.cog_contact_title {
    font-family: var(--header-font);
    font-size: 18px;
    margin-bottom: 20px;
}
.cog_contact_address {
    font-family: var(--body-font);
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 75px;
}
.single_contact_info {
    font-family: var(--body-font);
    line-height: 1.2;
    margin-bottom: 5px;
}
.single_contact_info_below {
    margin-bottom: 20px;
}
.single_contact_info_below a {
    font-family: var(--body-font);
    color: var(--color-black);
    text-transform: uppercase;
    text-decoration: underline;
}
.single_contact_info_below a:hover {
    color: var(--color-blue);
}

/* Contact Nav */
.cog_contact_nav {

}
.cog_contact_nav_item {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cog_contact_nav_item a {
    color: var(--color-white);
    font-size: 42px;
    font-family: var(--header-font);
    padding-bottom: 15px;
    border-bottom: 1px solid transparent;
}
.cog_contact_nav_item a:hover {
    border-bottom: 1px solid var(--color-white);
}

@media screen and (min-width: 767px) {
    .cog_contact_address {
        font-size: 40px;
    }
    .cog_contact_nav_item {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .contact_2col {
        width: 45%;
        /* padding-right: 50px; */
    }
    .cog_contact_wrapper {
        width: 100%;
    }

    .cog_contact_nav_item a {
        font-size: 64px;
        padding-bottom: 25px;
    }
}