:root {
    --color-blue: #0C0863;
    --color-white: #ffffff;
    --color-black: #212121;
    --header-font: 'DM Serif Display', Helvetica, sans-serif;
    --body-font: 'DM Serif Text', Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--header-font);
}

/* Global */
.cog_wrapper_home {
    margin: 0 auto;
    font-family: var(--body-font);
}
.cog_page_wrapper {
    max-width: 1000px;
    margin: 75px auto 0;
}
.cog_page_wrapper.events {
    margin: 50px auto 0;
}
.cart_container {
    display: inline;
}


/* Footer */
.cog_footer_group {
    background: #000;
    color: var(--color-white);
    padding: 25px 25px 50px;
}
.cog_logo_footer {
    width: 130px;
    padding-bottom: 7px;
}
.cog_logo_footer img {
    width: 100%;
}
.footer_left {
    font-size: 14px;
    margin: auto;
}
.footer_right {
    margin-top: 10px;
    width: 100%;
}
.footer_right ul {
    list-style: none;
    text-align: center;
    width: 100%;
}
.footer_right ul li {
    margin-bottom:5px;
    font-size: 20px;
    line-height: 1.5;
}
.footer_right ul li a {
    color: var(--color-white);
    font-weight: normal;
}
.footer_right ul li a:hover {
    border-bottom: 1px solid;
    padding-bottom: 2px;
}
.cog_social {
    margin: auto;
}
.cog_social span {
    width: 35px;
    margin: 20px 15px;
}
.cog_footer_links {
    padding-inline-start: 0;
}
.cog_copyright {
    display: none;
}

/* Newsletter */
.cog_newsletter {
    padding: 55px 0;
    width: 80%;
    margin: auto;
}
.cog_newsletter_title {
    font-size: 36px;
    padding: 0 25px;
    line-height: 1;
    font-weight: normal;
    text-align:center;
    font-family: var(--header-font);
}
.cog_newsletter_group {
    margin: 25px auto 0;
}

/* Customer Service Page */
.cs_wrapper {
    margin-top:75px;
}
.cs_item {
    margin-bottom:50px;
    color: var(--color-blue);
}
.cs_title {
    font-size:20px;
    text-transform:uppercase;
    padding-bottom:7px;
    font-family: var(--header-font);
    letter-spacing: 1px;
}
.cs_content {
    font-size:18px;
    font-family: var(--body-font);
    font-weight: normal;
}

/* Events Blog */
.cog_events_meta {
    width:90%;
    margin: 75px auto;
    text-align: center;
    font-family: var(--body-font);
    font-size: 18px;
    line-height: 1.2;
}
.cog_events_title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 1.2;
    font-family: var(--header-font);
}
.cog_single_article {
    margin-bottom: 75px;
}

.cog_blog_title {
    color: var(--color-black) !important;
    margin-top: 30px;
    font-size: 28px;
    font-family: var(--header-font);
    padding-right: 50px;
}
.cog_blog_title a {
    color: var(--color-black) !important;
}
.cog_blog_title a:hover {
    color: var(--color-blue) !important;
}
.cog_blog_desc {
    line-height: 1.2;
}
.excerpt {
    margin: 0.7em 0;
}
.excerpt p {
    margin:0;
    font-size: 18px;
    line-height: 1.2;
    font-family: var(--body-font);
}
.article {
    margin-bottom: 100px;
}
.article:last-child {
    margin-bottom: 25px !important;
}

/* EVENTS PAGE - SINGLE */
.article_content p {
    font-family: var(--body-font);
    font-size: 24px;
    line-height: 1.2;
}
.article_content {
    margin-top: 75px;
}
.author_share_wrap {
    border-top: 0;
}
.page_banner {
    margin-top: 80px !important;
}
.caption .headline {
    font-size: 36px;
    line-height: 1;
}

/* Media Queries */
@media screen and (min-width: 550px) {
    .cog_page_wrapper {
        width: 90%;
    }
    .cog_wrapper_home {
        margin:0 15px;
    }
    /* Newsletter */
    .cog_newsletter {
        padding: 70px 0 55px;
        margin: auto;
    }
    .cog_newsletter_title {
        text-align: center;
        margin: 0 auto 25px;
    }
    .cog_newsletter_group {
        margin: 0 auto;
        width: 100%;
    }
    /*  Footer */
    .cog_footer_group  {
        padding: 40px 25px 50px;
    }
}
@media screen and (min-width: 767px) {
    /* Global */
    .cog_page_wrapper {
        width: 75%;
    }
    /* Footer */
    .footer_left {
        width: 35%;
        margin: 15px 0 0 25px;
    }
    .cog_copyright {
        display: block;
        font-weight: normal;
        width: 100%;
        font-size: 12px;
    }
    .footer_right {
        margin-top:0;
        width: 45%;
    }
    .footer_right ul {
        width: 57%;
        text-align: left;
    }
    .footer_right ul li {
        font-size: 18px;
        line-height: 1.2;
    }
    .cog_social {
        margin: 12px 0;
    }
    .cog_social span {
        margin: 5px 7px;
    }

    /* Newsletter */
    .cog_newsletter {
        width: 90%;
        margin: auto;
    }
    .cog_newsletter_title {
        width: 45%;
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .cog_newsletter_group {
        width: 53%;
        margin: 0;
    }

    /* Events Blog */
    .cog_single_article {
        width: 50%;
        padding: 0 10px;
    }

    /* Single Events Page */
    .caption .headline {
        font-size: 60px;
    }
}
@media screen and (min-width:900px) {

}
@media screen and (min-width: 1024px) {
    .cog_page_wrapper {
        width: 90%;
    }
    .cog_page_title {
        font-size:48px;
    }
    .cog_partner_logo {
        width: 32%;
        padding: 0 20px 35px;
        text-align: center;
        margin: auto;
    }
    .partner-logo-width {
        width: 200px;
    }

    /* Events Blog */
    .cog_events_meta {
        width: 65%;
        font-size: 24px;
    }
    .cog_events_title {
        font-size: 32px;
        margin-bottom: 15px;
    }

    /* Single Events Page */
    .caption .headline {
        width: 90%;
        margin: auto;
    }
    .blog_share {
        width: 41%;
    }
    .page_banner {
        margin-top: 100px !important;
    }
    .cog_page_wrapper.events {
        max-width: initial;
        width: 90%;
    }
}
@media screen and (min-width: 1200px) {
    .cog_newsletter_group {
        margin:0;
        width: 50%;
    }
    .cog_newsletter_title {
        width: 30%;
        text-align: left;
        margin: 0 0 0 25px;
        font-size: 48px;
     }

     /* Single Events Page */
    .article_content p {
        font-size: 32px;
        line-height: 1.2;
    }
    .caption .headline {
        font-size: 80px;
        width: 100%;
    }
    .cog-single-event-content {
        max-width: initial;
    }
}