{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}
{% section 'cog-hero-events' %}

{% section 'cog-events-meta' %}

<div class="cog_page_wrapper events">
  {% section 'blog-template' %}
</div>

{% section 'cog-cta-shop' %}

{% section 'cog-newsletter' %}