<div class="index-sections">
  {{ content_for_index }}
</div>

{% comment %}
{% section 'cog-hero-home' %}
{% endcomment %}

<div class="cog_wrapper_home">

  {% section 'cog-home-shop' %}

  {% section 'cog-home-bottom' %}

  {% section 'cog-newsletter' %}

  {% section 'cog-video' %}

</div>